<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "designr-theme-cyan" %>
  <%= stylesheet_link_tag    "flexslider" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body data-spy="scroll" data-target="#main-nav" data-offset="200">

<%= yield %>

</body>
</html>
